.successPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.successImage {
  width: 305px;
  height: 308px;
  flex-shrink: 0;
}

.SuccessHeading {
  color: #333;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.SuccessDescription {
  color: #999;
  text-align: center;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
span {
  color: #666;
  font-family: 'Work Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.SuccessButton {
  display: inline-flex;
  height: 36px;
  padding: 11px 30px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--brand-yellow, #f7b348);
  color: var(--brand-white, #fff);
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-style: none;
}
.successMsg {
  color: #999;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
